<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {{usuario.id}} // {{usuario.nome}} // {{usuario.endereco}} // {{usuario.telefone}} // {{usuario.cpf}}

    <form action="{% url 'updateUsuario' usuario.id %}" method="post">
        {% csrf_token %}
        <input type="text" name="nome" value="{{usuario.nome}}">
        {% csrf_token %}
        <input type="text" name="endereco" value="{{usuario.endereco}}">
        {% csrf_token %}
        <input type="text" name="telefone" value="{{usuario.telefone}}">
        {% csrf_token %}
        <input type="text" name="cpf" value="{{usuario.cpf}}">
        <button type="submit">Update</button>
    </form>
    
</body>
</html>