<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
    {% for produto in produtos %}
    <li>{{produto.id}} // {{produto.descricao}} // {{produto.quantidade}} // {{produto.valorUnitario}} // 
        <a href="{% url 'editarProduto' produto.id %}">Editar</a> //
        <a href="{% url 'deleteProduto' produto.id %}">Deletar</a>
    </li>
    {% endfor %}
    </ul>

    <form action="{% url 'salvarProduto' %}" method="post">
        {% csrf_token %}
        <input type="text" name="descricao">
        {% csrf_token %}
        <input type="text" name="quantidade">
        {% csrf_token %}
        <input type="text" name="valorUnitario">
        <button type="submit">Salvar</button>
    </form>
</body>
</html>