<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {{fornecedores.id}} // {{fornecedores.nome}} // {{fornecedores.endereco}} // {{fornecedores.telefone}} // {{fornecedores.cnpj}}

    <form action="{% url 'updateFornecedor' fornecedores.id %}" method="post">
        {% csrf_token %}
        <input type="text" name="nome" value="{{fornecedores.nome}}">
        {% csrf_token %}
        <input type="text" name="endereco" value="{{fornecedores.endereco}}">
        {% csrf_token %}
        <input type="text" name="telefone" value="{{fornecedores.telefone}}">
        {% csrf_token %}
        <input type="text" name="cnpj" value="{{fornecedores.cnpj}}">
        <button type="submit">Update</button>
    </form>
    
</body>
</html>